@media (max-width: 1440px) {
    .container{
        width: 90%;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
    #logo{
        width: 90%;
    }
    .container{
        width: 80%;
    }
    .navbar{
        width: 80%;
    }
    .hero{
        flex-direction: column;
        width: 80%;
    }
    .container h1{
        padding-top: 30px;
        width: 80%;
    }
    .logo{
        flex-direction: column;
        width: 80%;
    }
    .logo-button{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .amico{
        flex-direction: column;
    }
    .support{
        flex-direction: column-reverse;
    }
    .tive{
        flex-direction: column;
        text-align: center;
    }
    .colla-img{
        width: 50%;
        padding: 30px 25%;
    }
    .tive-h h2{
        margin: 0 35%;
    }
    .focus{
        flex-direction: column;
    }
    .block{
        margin: 30px 0;
    }
    .table{
        flex-direction: column;
    }
    .table-square{
        margin: 30px 20%;
    }
    .strategies{
        flex-direction: column;
        width: 80%;
    }
    .block-square{
        margin: 30px 20%;
    }
    .join{
        width: 80%;
    }

}
@media (max-width: 992px) {
    .square{
        margin-left: 10px;
    }
    .strategies{
        width: 80%;
    }
    .table{
        width: 80%;
    }
    .focus{
        width: 80%;
    }
    .process{
        width: 80%;
    }
    .tive-h{
        width: 80%;
    }
    .support{
        width: 80%;
    }
    .amico{
        width: 80%;
    }
}
@media (max-width: 768px) {
    .square-content{
        flex-direction: column;
    }
    .screen-img{
        width: 250px;
    }
}
@media (max-width: 576px) {
    .square-content h1{
        width: 300px;
        height: 60px;
    }
    .amoco-img{
        width: 90%;
    }
    .amicoo-img{
        width: 90%;
    }
    .search-img{
        width: 90%;
    }
}
@media (max-width: 450px) {

}
